<div class="container">
  <h1 class="title mat-display-2">Đăng ký</h1>

  <form #signupForm="ngForm" (submit)="handleSubmit()">
    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Tài Khoản</mat-label>
      <input #username="ngModel" required matInput name="taiKhoan" ngModel/>
      <mat-error *ngIf="username.errors?.required">*Vui lòng nhập tài khoản</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Mật khẩu</mat-label>
      <input #password="ngModel" required minlength="8" maxlength="16" matInput type="password" name="matKhau" ngModel />
      <mat-error *ngIf="password.errors?.required" >*Vui lòng nhập mật khẩu</mat-error>
      <mat-error *ngIf="password.errors?.minlength || password.errors?.maxlength ">*Mật khẩu phải từ 8 - 16 kí tự</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Email</mat-label>
      <input #email="ngModel" required email matInput name="email" ngModel/>
      <mat-error *ngIf="email.errors?.required">*Vui lòng nhập email</mat-error>
      <mat-error *ngIf="email.errors?.email">*Vui lòng nhập đúng định dạng email</mat-error>

    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Họ tên</mat-label>
      <input matInput name="hoTen" ngModel/>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Số ĐT</mat-label>
      <input #phone="ngModel" pattern="^[0-9]+$" matInput name="soDt" ngModel/>
      <mat-error *ngIf="phone.errors?.pattern">Số điện thoại không đúng định dạng</mat-error>
    </mat-form-field>

    <div class="btn-group">
      <button mat-raised-button color="primary">Đăng ký</button>
    </div>
  </form>
</div>


<!-- đặt tên  #signupForm="ngForm"
   name="soDt" ngModel
  (submit)="handleSubmit() cho form
  html5 attribute : required , minlength, maxlength , email , pattern

   <mat-error *ngIf="signupForm.controls.taiKhoan.errors?.required">*Vui lòng nhập tài khoản</mat-error>  : check lỗi form có điều kiện
   muốn viết ngắn hơn thì đặt input một tên là :  #username="ngModel"

-->
