<!-- <button mat-raised-button color="primary">Primary</button> -->
<div class="container">
  <h1 class="title">Danh sách phim</h1>

  <div fxLayout="row wrap" fxLayoutGap="24px grid">

    <div *ngFor="let item of movieList" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
      <app-movie-item [movie] ="item" ></app-movie-item>
    </div>


  </div>
  <button (click)="handleDeleteMovie()" >Delete Movie</button>

</div>
<!-- npm i -s @angular/flex-layout @angular/cdk để sử dụng flex-layout angular -->
<!-- fxLayoutGap="24px grid" thêm grid đằng sau để khỏi bị rớt hàng -->
