<!-- <div>
  <a routerLinkActive="active" routerLink='/' [routerLinkActiveOptions]="{exact : true}" >Home</a>
  <a routerLinkActive="active" routerLink='/signin'>Sign in</a>
  <a routerLinkActive="active" routerLink='/signup'>Sign up</a>
  <a routerLinkActive="active" routerLink='/movie/new'>Create New Movie</a>
</div> -->

<!-- truyen vao directive routerLink
them '/' de dam bao di dung duong
vd : localhost:3000/movie/signin

 [routerLinkActiveOptions]="{exact : true}" : check path rong thi moi active Home
-->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>movie</mat-icon>
  </button>
  <span>Movie</span>
  <span class="example-spacer"></span>
  <div>
    <button mat-button *ngIf="me; else authBtn" >Hello, {{me.hoTen}}</button>
    <button mat-button routerLinkActive="active" routerLink='/' [routerLinkActiveOptions]="{exact : true}" >Home</button>
    <ng-template #authBtn>
      <button mat-button routerLinkActive="active" routerLink='/signin'>Sign in</button>
      <button mat-button routerLinkActive="active" routerLink='/signup'>Sign up</button>
    </ng-template>
    <button mat-button routerLinkActive="active" routerLink='/movie/new'>Create New Movie</button>
  </div>

</mat-toolbar>
