<div class="container">
  <h1 class="title mat-display-2">Đăng Nhập</h1>

  <form #signinForm="ngForm" (submit)="handleSubmit()" >
    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Tài Khoản</mat-label>
      <input #username="ngModel" required matInput name="taiKhoan" ngModel/>
      <mat-error *ngIf="username.errors?.required">*Vui lòng nhập tài khoản</mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Mật khẩu</mat-label>
      <input #password="ngModel" required minlength="8" maxlength="16" matInput type="password" name="matKhau" ngModel />
      <mat-error *ngIf="password.errors?.required" >*Vui lòng nhập mật khẩu</mat-error>
    </mat-form-field>

    <div class="btn-group">
      <button mat-raised-button color="primary">Đăng Nhập</button>
    </div>
  </form>
</div>
