<mat-card>
  <img mat-card-image src={{movie.hinhAnh}}/>
  <mat-card-title>{{movie.tenPhim}}</mat-card-title>
  <mat-card-content>
    <p>
     {{movie.moTa}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button [routerLink]="'/detail/' + movie.maPhim " mat-raised-button>Chi tiết</button>
    <button mat-raised-button>SHARE</button>
  </mat-card-actions>
</mat-card>
